body{
    background-color: #f8f9fa;
    font-family: "Roboto", sans-serif;
}

.header{
    color: #f8f9fa;
    font-family: "Momo Trust Display", sans-serif;
    font-size: 24px;
    background-color: #14213d;
    border-radius: 20px;
    padding-left: 50px;
    height: 200px;
    padding-bottom: 40px;
}

h1{
    font-size: 72px;
    padding-top: 24px;
    padding-bottom: 0px
}

h2{
    font-size: 36px;
    padding-top: 0px
}

.paragraph{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 80px;
    text-align: center;
}

.container{
    height:600px;
    padding-top: 100px;
    min-width: 100%;
    font-family: "Roboto", sans-serif;
}

.paragraph2{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 0px;
    padding-bottom: 100px;
    text-align: center;
}

.middle{
    max-height: 450px;
}

.heat{
    padding-top: 100px;
}

.bar{
    padding-top: 0px;
    padding-bottom: 150px;
}

.metadata{
    padding-top: 100px
}